<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scfeu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <scfeu.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludePattern" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludePattern" serializeAs="String">
                <value />
            </setting>
            <setting name="LineBreak" serializeAs="String">
                <value />
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="Indention" serializeAs="String">
                <value />
            </setting>
            <setting name="LeadingWhitespace" serializeAs="String">
                <value />
            </setting>
            <setting name="TrailingWhitespace" serializeAs="String">
                <value />
            </setting>
            <setting name="TabSize" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteNoBOM" serializeAs="String">
                <value />
            </setting>
        </scfeu.Properties.Settings>
    </userSettings>
</configuration>