// FileBookmark
// Copyright 2023, SGrottel
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
#include <WinVer.h>
#include "../Version.h"

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
#error "This file can be edited in code. Do not open in Visual Studio Resource Editor."
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< This file can be edited in code. Do not open in Visual Studio Resource Editor. >\0"
END
#endif    // APSTUDIO_INVOKED

100 ICON "../images/bookmark.ico"

#define _str(a) _inner_str(a)
#define _inner_str(a) #a

1 VERSIONINFO
	FILEVERSION    FILEBOOKMARK_VER_MAJOR, FILEBOOKMARK_VER_MINOR, FILEBOOKMARK_VER_PATCH, FILEBOOKMARK_VER_BUILD
	PRODUCTVERSION FILEBOOKMARK_VER_MAJOR, FILEBOOKMARK_VER_MINOR, FILEBOOKMARK_VER_PATCH, 0
	FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
	FILEFLAGS      0x0L
	FILEOS         VOS__WINDOWS32
	FILETYPE       VFT_APP
	FILESUBTYPE    VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "CompanyName", "SGrottel"
			VALUE "FileDescription", "File Bookmark Utility"
			VALUE "FileVersion", _str(FILEBOOKMARK_VER_MAJOR.FILEBOOKMARK_VER_MINOR.FILEBOOKMARK_VER_PATCH.FILEBOOKMARK_VER_BUILD)
			VALUE "InternalName", "FileBookmark"
			VALUE "LegalCopyright", "Copyright " FILEBOOKMARK_VER_YEARSTR ", SGrottel"
			VALUE "OriginalFilename", "FileBookmark.exe"
			VALUE "ProductName", "FileBookmark"
			VALUE "ProductVersion", _str(FILEBOOKMARK_VER_MAJOR.FILEBOOKMARK_VER_MINOR.FILEBOOKMARK_VER_PATCH.0)
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 1200
	END
END
